<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> bookstoreNLU@gmail.com</li>
                            <li>Miễn Phí Giao Hàng Cho Các Đơn Từ 499.000 VND</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__register">
                            <!-- <button type="button" class=" btn-lg show-modal" data-toggle="modal"
                                data-target="#myModal1">
                                Đăng ký
                            </button> -->
                            <!-- <img src="img/language.png" alt=""> -->
                            <!-- <a href="register.html" class="register" >Đăng ký</a> -->

                        </div>
                        <!-- <app-register></app-register> -->
                        <div class="header__top__right__auth">
                            <!-- sau chinh sua -->
                            <div class="modal-box">
                                <!-- Button trigger modal -->
                                <button type="button" class=" btn-lg show-modal" data-toggle="modal"
                                    data-target="#myModal">
                                    Đăng nhập
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content clearfix">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">×</span></button>

                                            <div class="modal-body">
                                                <h3 class="title"> Đăng nhập </h3>
                                                <p class="description"></p>
                                                <div class="form-group">
                                                    <span class="input-icon"><i class="fa fa-user"></i></span>
                                                    <input type="email" class="form-control"
                                                        placeholder="Email hoặc tên tài khoản">
                                                </div>
                                                <div class="form-group">
                                                    <span class="input-icon"><i class="fa fa-key"></i></span>
                                                    <input type="password" class="form-control" placeholder="Mật khẩu">
                                                </div>
                                                <div class="form-group checkbox">
                                                    <input type="checkbox">
                                                    <label>Lưu</label>
                                                </div>
                                                <a href="./register.html" class="forgot-pass">Quên mật khẩu?</a>
                                                <button class="btn">Đăng nhập</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header__top__right__auth">
                            <div class="modal-box">
                                <button type="button" class=" btn-lg show-modal" data-toggle="modal"
                                    data-target="#myModal1">
                                    Đăng ký
                                </button>
                                <!-- Button trigger modal -->
                                <!-- Modal -->
                                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"
                                    aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content clearfix">
                                            <div class="form_wrapper">
                                                <div class="form_container">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span aria-hidden="false">×</span></button>
                                                    <div class="title_container">
                                                        <h2>Đăng ký</h2>
                                                    </div>
                                                    <div class="row clearfix">
                                                        <div class="form_fomat">
                                                            <form>
                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-envelope"></i></span>
                                                                    <input type="text" name="usename"
                                                                        placeholder="Usename" required />
                                                                </div>
                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-envelope"></i></span>
                                                                    <input type="email" name="email" placeholder="Email"
                                                                        required />
                                                                </div>
                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-lock"></i></span>
                                                                    <input type="password" name="password"
                                                                        placeholder="Password" required />
                                                                </div>

                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-lock"></i></span>
                                                                    <input type="password" name="password"
                                                                        placeholder="Re-type Password" required />
                                                                </div>
                                                                <!--             <div class="col_half">
                                              </div> -->
                                                                <!--           </div> -->
                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-envelope"></i></span>
                                                                    <input type="text" name="phone" placeholder="Phone"
                                                                        required />
                                                                </div>
                                                                <div class="input_field"> <span><i aria-hidden="true"
                                                                            class="fa fa-envelope"></i></span>
                                                                    <input type="text" name="adress"
                                                                        placeholder="Adress" required />
                                                                </div>
                                                                <div class="input_field radio_option">
                                                                    <input type="radio" name="radiogroup1" id="rd1">
                                                                    <label for="rd1">Male</label>
                                                                    <input type="radio" name="radiogroup1" id="rd2">
                                                                    <label for="rd2">Female</label>
                                                                </div>
                                                                <div class="input_field checkbox_option">
                                                                    <input type="checkbox" id="cb1">
                                                                    <label for="cb1">I agree with terms and
                                                                        conditions</label>
                                                                </div>
                                                                <div class="input_field checkbox_option">
                                                                    <input type="checkbox" id="cb2">
                                                                    <label for="cb2">I want to receive the
                                                                        newsletter</label>
                                                                </div>
                                                                <input class="button" type="submit" value="Register" />
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="login">Already have an account <a href="/login"
                                                    target="_blank">Login</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-menu></app-menu>
</header>
<!-- Header Section End -->