/* .featured{
    margin-top: 600px;
} */


.hero__categories{
    width: 80%;
    border: 1px solid #be975a;
}

.hero__item{
    height: 100%;
    border-top: 1PX solid #be975a;
    padding: 0px;

}
.featured{
    border-top: 1PX solid #be975a;
    height: 100%;
}

.page_center {
    text-align: center;
    margin-top: 20px;
}

.page_center > span {
    border: 2px solid #be975a;
    border-radius: 50% ;
    padding: 5px;
    margin: 5px;

}

.mix{
    border: 1px solid rgba(33,33,33,.2);
    margin-right: 15px;
    margin-left: -5px;
    margin-bottom: 10px;
    max-width: 23%;
   
}

.mix:hover {
    /* background: #a0b9ca; */
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.featured__item{
    margin-bottom: 0px;
}

.hero__categories__all {
	background: #be975a;
	position: relative;
	padding: 10px 25px 10px 40px;
	cursor: pointer;
}

.hero__categories__all i {
	font-size: 16px;
	color: #ffffff;
	margin-right: 10px;
}

.hero__categories__all span {
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}

.text_category{
	list-style: none;
    text-align: left;
    text-decoration: none;
}

.text_category > li >a{
	text-decoration: none;
	color: #242322;
}

.hero__categories__all:after {
	position: absolute;
	right: 18px;
	top: 9px;
	content: "";
	font-family: "ElegantIcons";
	font-size: 18px;
	color: #ffffff;
}
ul > li > a:hover{
	color: #be975a;
}
