<!-- <div class="col-lg-3"> -->
    <!-- <div class="hero__categories"> -->
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Danh mục</span>
        </div>
        <ul>
            <li><a href="#">Văn Học</a></li>
            <li><a href="#">Kinh Tế</a></li>
            <li><a href="#">Tâm Lý</a></li>
            <li><a href="#">Kĩ Năng Sống</a></li>
            <li><a href="#">Nuôi dạy con</a></li>
            <li><a href="#">Sách Thiếu Nhi</a></li>
            <li><a href="#">Tiểu Sử</a></li>
            <li><a href="#">Giáo Dục</a></li>
            <li><a href="#">Ngoại Ngữ</a></li>
            <li><a href="#">Tham Khảo</a></li>
            <li><a href="#">Hồi Ký</a></li>
            <li><a href="#">Khác</a></li>
        </ul>
    <!-- </div> -->
<!-- </div> -->
