<app-header></app-header>
<app-menu></app-menu>
<div class="container">
    <div class="row">
        <div class="col-25">
            <div class="container">
                <h4>Cart
                    <span class="price" style="color:black">
                        <i class="fa fa-shopping-cart"></i>
                        <b>{{cartqty}}</b>
                    </span>
                </h4>
                <table class="table">

                    <tbody>
                        <tr *ngFor="let item of cartObj">
                            <th>{{item.bookName}}</th>
                            <th>{{item.qty}}</th>
                            <th>{{item.price}}</th>
                    
                        </tr>
                    </tbody>
                </table>

                <hr>
                <p>Total <span class="price" style="color:black"><b>{{cartTotalPrice}}</b></span></p>
            </div>
        </div>
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">

                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i>Name</label>
                            <input type="text" id="fname" name="firstname" value="{{userName}}" readonly>
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" value="{{email}}" readonly>
                            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                            <input type="text" id="adr" name="address" placeholder="Enter the Delivery address"
                                [(ngModel)]="delivery_address">
                            <label for="phone"><i class="fa fa-phone"></i> Phone</label>
                            <input type="text" id="phone" name="phone" value="{{phone}}" readonly>

                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <div class="row">
                                <div class="col-50">
                                    <label for="fname">Accepted Cards</label>
                                    <div class="icon-container">
                                        <i class="fa fa-cc-visa" style="color:navy;"></i>
                                        <i class="fa fa-cc-amex" style="color:blue;"></i>
                                        <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                        <i class="fa fa-cc-discover" style="color:orange;"></i>
                                    </div>
                                </div>
                                <div class="col-50">
                                    <span><input [(ngModel)]="pay_type" value="cash_on_delivery" type="checkbox"
                                            name="pay_type" /><span class="radio_text">Cash on Delivery</span></span>
                                </div>
                            </div>
                            <label for="cname">Note</label>
                            <input type="text" class="note" style="height: 100px;
                            text-align: center" name="address" placeholder="Enter a note"
                                [(ngModel)]="noteCheckout">
                            <label>
                                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as
                                billing
                            </label>


                        </div>

                    </div>

                    <button (click)="checkoutCart()" class="btn">Place Order</button>
                </form>
            </div>
        </div>
    </div>


</div>
<app-footer></app-footer>


