<app-header></app-header>
<app-menu></app-menu>
<div class="cartTable">
    <!-- <p style="font-size: 30px;color:#be975a">Your Cart</p> -->
<ng-container *ngIf="cartObj.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                    
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartObj">
                            <!-- <td>{{i+1}}</td> -->
                            <td>{{item.bookName}}</td>
                            <td><img style="width: 120px;" src="{{item.img}}" alt=""></td>
                           
                            <th style="width: 12%;">{{(item.price/item.qty)}}</th>
                            <td style="width: 12%;">{{item.qty}}</td>
                            <td style="width: 12%;">{{item.price}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <!-- <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td> -->
                            <td><button routerLink="/shopping" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ${{cartTotalPrice}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="cartObj.length ==0">
    <div class="container">
        <!-- <div class="card">
            <h5 class="card-title">Your Cart</h5>
        </div> -->
        <div class="center">
            <h4>Giỏ hàng đang trống!</h4>
            <h6>Mua hàng ngay bây giờ</h6>
  
            <button routerLink="/shopping" class="btn btn-primary">Shop Now</button>
            <br/>
            <img class="cartEmpty" style="height: 400px" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
         
        </div>
    </div>
</ng-container>
</div>