body{
    margin-top:20px;
    background:#DCDCDC;
}
.content {
    padding: 35px 0px;
}

.post-list {
    padding: 90px 0px;
}

.post-detail {
    padding: 40px 0px;
    margin-top: 120px;
}

.post {
    width: 100%;
    float: left;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    background: #fff;
    margin-bottom: 40px;
    border-radius: 3px;
}

.feature-post .thumbnail .author-info {
    padding: 20px 5px 20px 40px;
    text-align: left;
    min-height: 80px;
    background: #2c3840;
    float: left;
    width: 100%;
}

.img-grid {
    float: left;
    margin-bottom: 40px;
}

.img-grid li {
    margin: 0px;
    float: left;
}


blockquote {
    background: #f2f6f8;
    border: 1px solid #e5e5e5;
    line-height: 28px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #49545b;
}

.line-block {
    padding: 20px 45px;
    border-top: 1px solid #eef3f6;
    border-bottom: 1px solid #eef3f6;
    float: left;
    width: 100%;
}




.md-heading {
    font-size: 24px !important;
    line-height: 36px !important;
    margin-bottom: 15px !important;
}


.clos{
    position: absolute;
    top: 0;
    right: 0;

}
article{
    max-height: 400px;
    margin-right: 10px;
    margin-left: 30px;
    
    
}
.contents{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}


.hero__item{
    /* width: 100%; */
    position: relative;
    background: #2b77be;
}

.fomat_style{
    /* width: 100%; */
}
.hero__text{
    position: absolute;
}

.mix{
    border: 1px solid rgba(33,33,33,.2);
    margin-right: 15px;
    margin-left: -5px;
    margin-bottom: 10px;
    max-width: 24%;
   
}

.tit-box {
	text-transform: uppercase;
	padding-top: 100px;
	margin-bottom: 50px;
	text-align: center;
	position: relative;
}
.tit-box a{
	color:#be975a;
	font-size: 30px;
	font-weight: bold;

}
.tit-box a:hover{
	color: #be975a;
}

.mix:hover {
    /* background: #a0b9ca; */
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.hero__item{
    padding-left: 0px;
}

.categories__slider{
    display: flex;
}
.categories__slider.owl-carousel .owl-nav button {
	font-size: 18px;
	color: #1c1c1c;
	height: 70px;
	width: 30px;
	line-height: 70px;
	text-align: center;
	border: 1px solid #ebebeb;
	position: absolute;
	left: -35px;
	top: 50%;
	-webkit-transform: translateY(-35px);
	background: #ffffff;
    display: flex;
}

.categories__slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -35px;
}



.sidebar__item .latest-product__text .owl-carousel .owl-nav {
	right: 0;
}


.product__details__pic__slider.owl-carousel .owl-item img {
	width: auto;
}

.site-btn{
    background: #be975a;
}

.primary-btn{
    background: #be975a;
}

.page_center {
    text-align: center;
    margin-top: 20px;
}

.page_center > span {
    border: 2px solid #be975a;
    border-radius: 50% ;
    padding: 5px;
    margin: 5px;

}

.hero__categories{
    width: 80%;
    border: 1px solid #be975a;
}