
    <form class="">
            <!-- Modal -->
            <div class="modal1 fade1" id="myModal1" tabindex="-1" role="dialog1" aria-labelledby="myModalLabel1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content clearfix">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <div class="modal-body">
                            <h3 class="title"> Đăng nhập </h3>
                            <p class="description"></p>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="email" class="form-control" placeholder="Email hoặc tên tài khoản">
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" placeholder="Mật khẩu">
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox">
                                <label>Lưu</label>
                            </div>
                            <a href="./register.html" class="forgot-pass">Quên mật khẩu?</a>
                            <button class="btn">Đăng nhập</button>
                        </div>
                    </div>
                </div>
            </div>
      
    </form>
