<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="header__logo">
                <a href="./index.html"><img src="img/logo.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-6">
            <nav class="header__menu">
                <ul>
                    <li class="active"><a href="./index.html">Trang Chủ</a></li>
                    <li><a href="./shop-grid.html">Mua Sắm</a></li>
                    <li><a href="./sale.html">Giảm Giá</a>
                
                    </li>
                    <li><a href="./blog.html">Bài Viết</a></li>
                    <li><a href="./contact.html">Liên Hệ</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3">
            <div class="header__cart">
                <ul>
                    <li><a href="./Favorite.html"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="./shoping-cart.html"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">Tổng: <span>150.000 VND</span></div>
            </div>
        </div>
    </div>
    <div class="humberger__open">
        <i class="fa fa-bars"></i>
    </div>
</div>
