<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i> bookstoreNLU@gmail.com</li>
              <li>Miễn Phí Giao Hàng Cho Các Đơn Từ 499.000 VND</li>

            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <a href="#"><i class="fa fa-phone"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-pinterest-p"></i></a>
              
            </div>
            <div class="header__top__right__auth">
              <!-- sau chinh sua -->
              <div class="modal-box">
                <button *ngIf="!isLoggedIn">
                  <a href="/register" [routerLink]="['/register']">Sign Up</a>
                </button>
                <button *ngIf="!isLoggedIn">
                  <a href="/login" [routerLink]="['/login']">Login</a>
                </button>

                <button *ngIf="isLoggedIn">
                  <a href="/profile" [routerLink]="['/profile']" style="color: red">{{ username }}</a>
                </button>
                <button *ngIf="isLoggedIn">
                  <a (click)="logout()" style="color:red">LogOut</a>
                </button>
                <!-- <div class="cart cart box_1 checkout-count-wrap"> 
                  <form action="#" method="post" class="last">
                    <button class="w3view-cart" type="submit" (click)="openCheckoutModel()" name="submit" value="">
                      <p class="total_count_checkout">{{cart_qty}}</p>
                      <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>  -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  
</header>
<!-- <div [ngClass]="[mainDialogType == 'checkout' ? 'checkout_dialog' : '']" id="w3lssbmincart">
  <form method="post" class="" target="">
    <button type="button" (click)="closeDialog()" class="sbmincart-closer">×</button>
    <ul>
      <li *ngFor="let cartObjItem of  cartObj" class="sbmincart-item sbmincart-item-changed">
        <div class="sbmincart-details-name">
          <a class="sbmincart-name">{{cartObjItem.bookName}}</a>
          <ul class="sbmincart-attributes">
          </ul>
        </div>
        <div class="sbmincart-details-quantity">
          <input class="sbmincart-quantity" data-sbmincart-idx="0" name="quantity_1" type="text" value="1"
            autocomplete="off">
        </div>
        <div class="sbmincart-details-remove">
          <button type="button" class="sbmincart-remove" data-sbmincart-idx="0">×</button>
        </div>
        <div class="sbmincart-details-price">
          <span class="sbmincart-price">{{cartObjItem.price}}</span>
        </div>
      </li>

    </ul>
    <div class="sbmincart-footer">
      <div class="sbmincart-subtotal">
        Subtotal: {{cartTotalPrice}}
      </div>
      <span (click)="checkout_btn()">Checkout Cart</span>
    </div>
    <input type="hidden" name="bn" value="sbmincart_AddToCart_WPS_US">
  </form>
</div> -->