
.logo_book {
	width: 100px;
	height: 100px;
}

.text {
	height: 100px;
}

.header__logo {
	margin-left: 50px;
}

.header__logo a {
	display: inline-block;
}

.header__menu {
	/* padding: 24px 0; */
}

.header__menu ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
	position: relative;
}

.header__menu ul li .header__menu__dropdown {
	position: absolute;
	left: 0;
	top: 50px;
	background: #222222;
	width: 180px;
	z-index: 9;
	padding: 5px 0;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	opacity: 0;
	visibility: hidden;
}

.header__menu ul li .header__menu__dropdown li {
	margin-right: 0;
	display: block;
}

.header__menu ul li .header__menu__dropdown li:hover>a {
	color: #be975a;
}

.header__menu ul li .header__menu__dropdown li a {
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 400;
	padding: 5px 15px;
}

.active {
	background-color: white;
}

.header__menu ul li.active a {
	color: #be975a;
	text-decoration: none;
}

.header__menu ul li:hover .header__menu__dropdown {
	top: 30px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover>a {
	color: #be975a;
}

.header__menu ul li:last-child {
	margin-right: 0;
}

.header__menu ul li a {
	font-size: 14px;
	color: #252525;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
	padding: 5px 0;
	display: block;
}

.header__cart {
	text-align: right;
}

.header__cart ul {
	display: inline-block;
	margin-right: 25px;
}

.header__cart ul li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.header__cart ul li:last-child {
	margin-right: 0;
}

.header__cart ul li a {
	position: relative;
}

.header__cart ul li a i {
	font-size: 18px;
	color: #1c1c1c;
}

.header__cart ul li a span {
	height: 13px;
	width: 13px;
	background: #be975a;
	font-size: 10px;
	color: #ffffff;
	line-height: 13px;
	text-align: center;
	font-weight: 700;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	right: -12px;
}

.header__cart .header__cart__price {
	font-size: 14px;
	color: #6f6f6f;
	display: inline-block;
}

.header__cart .header__cart__price span {
	color: #252525;
	font-weight: 700;
}

.humberger__open {
	display: none;
}


.menu_size {
	width: 700px;
}

input[type=text] {
	width: 130px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
	width: 100%;
}

.logo_book {
	width: 130px;
}

.cart_favorite {
	width: 260px;
}


.openBtn {
	background: #be975a;
	border: none;
	padding: 10px 15px;
	font-size: 20px;
	cursor: pointer;
}

.openBtn:hover {
	background: #66563c;
}

.overlay {
	height: 200px;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
	position: relative;
	top: 46%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
	cursor: pointer;
	color: white;
}

.overlay .closebtn:hover {
	color: #ccc;
}

.overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
}

.overlay input[type=text]:hover {
	background: #f1f1f1;
}

.overlay button {
	float: left;
	width: 20%;
	padding: 15px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.overlay button:hover {
	background: #bbb;
}

.navbar {
	background-color: #f5f5f5;
	position: fixed;
	z-index: 1000;
	margin-left: 100px;
	height: 80px;
	text-align: center;
	top: 0px;
	box-shadow: 2px 5px 5px rgb(0, 0, 0, 0.35);
	transition: top 0.3s;
}

.back-to-top {
	width: 50px;
	height: 50px;
	background: #6f6f6f;
	font-size: 35px;
	color: whitesmoke;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 90%;
	z-index: 50;
	visibility: hidden;
	opacity: 0;
	bottom: 0px;
}

.back-to-top.showUp {
	visibility: visible;
	opacity: 1;

}
.modal.fade.in{
    display: block;
}
#horizontalTab.login .tab-1.resp-tab-content{
display: block;
}
#horizontalTab.register .tab-2.resp-tab-content{
    display: block;
}
.w3l_login .username{
    color: red;
}

.checkout-count-wrap{
    position: relative;
}
.total_count_checkout{
    position: absolute;
    top: -15px;
    right: -7px;
    z-index: 1000;
    color: #da6767;
    font-weight: bold;
    font-size: 1.5em;
}

.agile_ecommerce_tab_left{
    margin-bottom: 5%;
}
.modal.fade.in{
    /* display: block; */
}
.modal.fade.login_dialog, #w3lssbmincart.checkout_dialog{
    display: block;
	z-index: 99;
}
#horizontalTab.login .tab-1.resp-tab-content{
display: block;
}
#horizontalTab.register .tab-2.resp-tab-content{
    display: block;
}
.w3l_login .username{
    color: red;
}




.agile_ecommerce_tab_left{
    margin-bottom: 5%;
}